<?xml version="1.0" encoding="UTF-8"?>
<suite name="我们自己的接口测试套件">
	<test name="这些是测试模块">
		<classes>
			<class name="com.test.testng.Demo1">
				<method>
					<include name="test1"/>
					<include name="test2"/>
					<include name="test3"/>
				</method>
			</class>
		</classes>
	</test>
	<listeners>
         <listener class-name="com.test.testng.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>